[Unit]
Description=Gunicorn instance to serve Law Firm Management Project
After=network.target

[Service]
User=sammy
Group=www-data
WorkingDirectory=/home/sammy/LawFirmManagementApplicationApp/backend
EnvironmentFile=/home/sammy/LawFirmManagementApplicationApp/backend/.env
ExecStart=/home/sammy/LawFirmManagementApplicationApp/backend/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/home/sammy/LawFirmManagementApplicationApp/backend/gunicorn.sock \
          myproject.wsgi:application

[Install]
WantedBy=multi-user.target
